<nb-card>
    <nb-card-header>
        <div class="d-flex">
            <div>
                Autorização de Acesso
            </div>
            <div class="ml-auto">
                <nb-icon icon="arrow-back" style="cursor: pointer;" (click)="backToHome()"></nb-icon>
            </div>
       </div>
    </nb-card-header>
    <nb-card-body>
        <div class="container">
            <div class="row text-center justify-content-center">
                <p> <b>Deseja continuar permitindo que</b></p>
                <p class="lead">Quinto Andar Serviços Imobiliários LTDA</p>
                <p> <b>Tenha acesso às suas informações?</b></p>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center justify-content-between">
                    <div class="d-flex flex-row justify-content-arond">
                        <div>
                            <button size="giant"  (click)="backToHome()" nbButton ghost status="success"><nb-icon icon="checkmark-circle-2"></nb-icon></button>
                        </div>
                        <div class="ml-auto">
                            <button size="giant" (click)="revokePermission()" nbButton ghost status="danger"><nb-icon icon="close-circle"></nb-icon></button>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </nb-card-footer>
</nb-card>