<nb-layout>

    <nb-layout-header fixed>
        <div class="logo-container">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </div>
        <div class="col-sm-2"><b>Safra</b> Accounts</div>
        <div class="container text-right">
            <div class="justify-right">
                <nb-user name="João Silva"  badgePosition="bottom right"></nb-user>
            </div>
        </div>
    </nb-layout-header>
  
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
  
    <nb-layout-footer fixed>
    <!-- Insert footer here -->
    </nb-layout-footer>
  
</nb-layout>
