<nb-card>
    <nb-card-header>
        <div class="d-flex">
            <div>
                Contas e Carteiras
            </div>
            <div class="ml-auto">
                <nb-icon icon="plus-circle" style="cursor: pointer;" (click)="openAddAccount()"></nb-icon>
            </div>
       </div>
    </nb-card-header>
    <nb-card-body>
        <div class="d-flex flex-row justify-content-between flex-wrap">
            <ng-container *ngFor="let account of accounts">
                <app-account-card [account]="account"></app-account-card>
            </ng-container>
        </div>
    </nb-card-body>
</nb-card>